<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application
		android:allowBackup="true"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/backup_rules"
		android:icon="@mipmap/ic_vwin"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_vwin_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.VwinngjuanIme">


		<activity android:name="com.buhzzi.vwinngjuanime.MainActivity"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<service android:name="com.buhzzi.vwinngjuanime.VwinngjuanIms"
			android:label="@string/app_name"
			android:windowSoftInputMode="adjustResize"
			android:permission="android.permission.BIND_INPUT_METHOD"
			android:exported="true">

			<meta-data android:name="android.view.im"
				android:resource="@xml/vwinngjuan_ime" />

			<intent-filter>
				<action android:name="android.view.InputMethod" />
			</intent-filter>
		</service>
	</application>

</manifest>
